@model IEnumerable<Restopos.Yoklama.Entities.Concrete.Privilege>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h1>Yetkiler</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Yetki
            </th>
            <th>
                Açıklama
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Update" class="btn btn-sm btn-warning" asp-route-id="@item.Id">Güncelle</a>
            </td>
        </tr>
}
    </tbody>
</table>
