<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restopos.Yoklama.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="container-fluid">
        <main role="main">
            <div class="row">
                <div class="col-4">
                    <ul>
                        <li><a asp-controller="Panel" asp-action="Index">Ana Sayfa</a></li>
                        <li><a href="#" class="btn disabled">Yoklamam</a></li>
                        <li><a asp-controller="User" asp-action="Index">Personel Listesi</a></li>
                        <li><a asp-controller="AbsenceType" asp-action="Index">Devamsızlık Türleri</a></li>
                        <li><a asp-controller="Department" asp-action="Index">Departmanlar</a></li>
                        <li><a asp-controller="AbsenceStatus" asp-action="Index">Personel Yoklaması</a></li>
                        <li><a asp-controller="Role" asp-action="Index">Rol İşlemleri</a></li>
                        <li><a asp-controller="Privilege" asp-action="Index">Yetki Listesi</a></li>
                        <li><a href="#" class="btn disabled">Çıkış</a></li>
                    </ul>
                </div>
                <div class="col-8 pt-2">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
