<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restopos.Yoklama.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="container-fluid">
        <main role="main">
            <div class="row">
                <aside class="col-4">
                    <ul>
                        <li><a href="#">Yoklamam</a></li>
                        <li><a href="#">Personel Listesi</a></li>
                        <li><a asp-controller="Department" asp-action="Index">Departmanlar</a></li>
                        <li><a href="#">Personel Yoklaması</a></li>
                        <li><a href="#">Rol İşlemleri</a></li>
                        <li><a href="#">Yetki Listesi</a></li>
                        <li><a href="#">Çıkış</a></li>
                    </ul>
                </aside>
                <main role="main" class="col-8">
                    @RenderBody()
                </main>
            </div>
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
