<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/panel.css" rel="stylesheet" />
</head>
<body class="h-100">

    <div class="container-fluid h-100">
        <main role="main" class="h-100">
            <div class="row h-100">
                <div class="col-3 form-group p-0 bg-info m-0">
                    <div class="sticky-top">

                        <a asp-controller="Panel" asp-action="Index" class="form-control btn btn-info btn-lg border-bottom rounded-0">Ana Sayfa</a>
                        <a asp-controller="MyAbsences" asp-action="Index" class="form-control btn btn-info btn-lg border-bottom rounded-0">Yoklamam</a>
                        @{
                            if (User.HasClaim(x => x.Value == ConstPrivileges.LIST_USERS))
                            {
                                <a asp-controller="User" asp-action="Index" class="form-control btn btn-info btn-lg border-bottom rounded-0">Personel Listesi</a>
                            }
                            if (User.HasClaim(x => x.Value == ConstPrivileges.LIST_USERS_ABSENCES))
                            {
                                <a asp-controller="AbsenceStatus" asp-action="Index" class="form-control btn btn-info btn-lg border-bottom rounded-0">Personel Yoklaması</a>
                            }
                            if (User.HasClaim(x => x.Value == ConstPrivileges.LIST_DEPARTMENTS))
                            {
                                <a asp-controller="Department" asp-action="Index" class="form-control btn btn-info btn-lg border-bottom rounded-0">Departmanlar</a>
                            }
                            if (User.HasClaim(x => x.Value == ConstPrivileges.LIST_ABSENCETYPES))
                            {
                                <a asp-controller="AbsenceType" asp-action="Index" class="form-control btn btn-info btn-lg border-bottom rounded-0">Devamsızlık Türleri</a>
                            }
                            if (User.HasClaim(x => x.Value == ConstPrivileges.LIST_ROLES))
                            {
                                <a asp-controller="Role" asp-action="Index" class="form-control btn btn-info btn-lg border-bottom rounded-0">Rol İşlemleri</a>
                            }
                            if (User.HasClaim(x => x.Value == ConstPrivileges.LIST_PRIVILEGES))
                            {
                                <a asp-controller="Privilege" asp-action="Index" class="form-control btn btn-info btn-lg border-bottom rounded-0">Yetki Listesi</a>
                            }
                        }
                        <a asp-controller="Panel" asp-action="LogOut" class="form-control btn btn-info btn-lg border-bottom rounded-0">Çıkış</a>
                    </div>
                </div>
                <div class="col-8 pt-2 pb-3 text-dark">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>


    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(() => {
            $("hr+hr").addClass("d-none");
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
